GROQ_API_KEY=your_key
CEREBRAS_API_KEY=your_key
NVIDIA_API_KEY=your_key
CEREBRAS_LLM=your_model_name

TAVILY_API_KEY=your_key 
FIRECRAWL_API_KEY=your_key 

PINECONE_API_KEY=your_key
PINECONE_INDEX_NAME=your_index

PGSQL_URL=your_neon_db_url 

TELEGRAM_ACCESS_TOKEN=your_token
TELEGRAM_WEBHOOK_URL=your_webhook_url/telegram

LANGSMITH_TRACING=boolean
LANGSMITH_ENDPOINT=your_endpoint
LANGSMITH_API_KEY=your_key
LANGSMITH_PROJECT=your_project_name
