langchain
langgraph
langchain_core
langchain-groq
langchain-tavily
langchain_tavily
langchain_community 
langchain_text_splitters  
langchain_nvidia_ai_endpoints
langchain_community
langchain_text_splitters
langchain-cerebras
langchain_pinecone
langgraph-checkpoint-postgres
langchain_nvidia_ai_endpoints
langsmith
firecrawl 
pydantic
pypdf
pinecone
fastapi 
uvicorn
psycopg[binary,pool]
python-dotenv
python-telegram-bot 
python-multipart
twilio